images
chunk_folder
20240929_image
training_data
input_5_return_5/chunk_folder
input_5_return_5/image
chunk_folder_1
20241005_image
training_data_store
input_5_return_5/training_data_input_5
input_5_return_5/20241005_image_input_5
input_60_return_5/chunk_folder
input_60_return_5/20241009_image_input_60
input_60_return_5/20241009_image_input_60_1
input_60_return_5/training_data_input_60
input_60_return_5/training_data
input_60_return_5/validation_data